extends layout

block content
  h1='Hong Pham\'s Resume'
  p
  p  Cloud DevOps / Cloud Support
  p  hong.n.pham@gmail.com
  p  6032890204
  p  Skills
  p  AWS Deployment products: Elastic Beanstalk, CodeCommit, CodeDeploy, CodePipeline
  p  AWS basic products: EC2 Linux, VPC, Elastic Load Balancer
  p  Web Development: NodeJs, Express, Python, Flask
  p  Docker: https://hub.docker.com/u/hongpham12/
  p  Git: https://github.com/hongpham?tab=repositories
  p  Programming: Python, Bash
  p  Experience
  p  AWS Premium Support
  p  Cloud Support Associates
  p  Jul 2015 - Present
  p  Provide expertise and support for AWS customer
  p   Interact with customer daily to help solve technical problem
  p   Provide best advises for using AWS products
  p   Meet with Product Teams to raise customer concerns
  p   Create internal documents, tools to increase efficiency
  p  Goldman Sachs
  p  Technology Analysts
  p  Jan 2013 - Jun 2015
  p  Provide support and monitoring for Linux system
  p  Education
  p  University of Utah
  p   Bachelor in Information Systems Dec 2012
  p  University of Utah
  p   Bachelor in Marketing Dec 2012
