extends layout

block content
  h1= title
  p JSON format:
  p
  p {
  p "basics": {
  p     "name": "Hong Pham",
  p      "label": "Cloud DevOps / Cloud Support",
  p      "picture": "",
  p      "email": "hong.n.pham@gmail.com",
  p      "phone": "6032890204",
  p      "website": "http://hongpham.com",
  p      "profiles": [
  p        {s
  p          "network": "LinkedIn",
  p          "username": "Hong Pham",
  p          "url": "https://www.linkedin.com/in/hong-pham-92687226"
  p        }
  p      ]
  p    },
  p    "work": [
  p      {
  p        "company": "AWS Premium Support",
  p        "position": "Cloud Support Associates",
  p        "website": "",
  p        "startDate": "2015-07-01",
  p        "endDate": "",
  p        "summary": "Provide expertise and support for AWS customer",
  p        "highlights": [
  p          "Interact with customer daily to help solve technical problem",
  p          "Provide best advises for using AWS products",
  p          "Meet with Product Teams to raise customer concerns",
  p          "Create internal documents, tools to increase efficiency"
  p        ]
  p      },
  p      {
  p        "company": "Goldman Sachs",
  p        "position": "Technology Analysts ",
  p        "website": "",
  p        "startDate": "2013-01-20",
  p        "endDate": "2015-06-22",
  p        "summary": "Provide support and monitoring for Linux system",
  p        "highlights": []
  p      }
  p    ],
  p    "education": [
  p      {
  p        "institution": "University of Utah",
  p        "area": "Information Systems",
  p        "studyType": "Bachelor",
  p        "startDate": "2009-05-18",
  p        "endDate": "2012-12-06",
  p        "gpa": "",
  p        "courses": []
  p      },
  p      {
  p        "institution": "University of Utah",
  p        "area": "Marketing",
  p        "studyType": "Bachelor",
  p        "startDate": "2009-05-18",
  p        "endDate": "2012-12-06",
  p        "gpa": "",
  p        "courses": []
  p      }
  p    ],
  p    "skills": [
  p      {
  p        "name": "AWS Deployment products",
  p        "level": "Master",
  p        "keywords": [
  p          "Elastic Beanstalk",
  p          "CodeCommit",
  p          "CodeDeploy",
  p          "CodePipeline"
  p        ]
  p      },
  p      {
  p        "name": "AWS basic products",
  p        "level": "Master",
  p        "keywords": [
  p          "EC2 Linux",
  p          "VPC",
  p          "Elastic Load Balancer"
  p        ]
  p      },
  p      {
  p        "name": "Web Development",
  p        "level": "Intermediate",
  p        "keywords": [
  p          "NodeJs, Express",
  p          "Python, Flask"
  p        ]
  p      },
  p      {
  p        "name": "Docker",
  p        "level": "Intermediate ",
  p        "keywords": [
  p          "https://hub.docker.com/u/hongpham12/"
  p        ]
  p      },
  p      {
  p        "name": "Git",
  p        "level": "Master ",
  p        "keywords": [
  p          "https://github.com/hongpham?tab=repositories"
  p        ]
  p      },
  p      {
  p        "name": "Programming",
  p        "level": "Intermediate",
  p        "keywords": [
  p          "Python",
  p          "Bash"
  p        ]
  p      }
  p    ]
  p  }
